<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <magenizr_media_gallery_folder>
                <enabled>1</enabled>
                <folder_list>1</folder_list>
            </magenizr_media_gallery_folder>
        </system>
    </default>
</config>
